# Container-friendly defaults: PID file in /tmp (always writable, no need to
# pre-create /var/run/opendkim). Syslog stays enabled even though no syslog
# daemon is in the image -- the entrypoint runs `opendkim -l` which redirects
# every message that would have gone to syslog to stderr instead.
Syslog                  yes
SyslogSuccess           yes
LogWhy                  yes
UMask                   002
Mode                    sv
Socket                  inet:8891@127.0.0.1
PidFile                 /tmp/opendkim.pid
UserID                  opendkim:opendkim
SignatureAlgorithm      rsa-sha256
Canonicalization        relaxed/simple
RequireSafeKeys         no
KeyTable                refile:/etc/opendkim/KeyTable
SigningTable            refile:/etc/opendkim/SigningTable
ExternalIgnoreList      refile:/etc/opendkim/TrustedHosts
InternalHosts           refile:/etc/opendkim/TrustedHosts
Domain                  ${DOMAIN}
