domain = ${DOMAIN}
secrets-file = /var/lib/opendkim/postsrsd-secret
forward-port = 10001
reverse-port = 10002
listen-address = 127.0.0.1
chroot-dir =
hash-length = 4
hash-min-length = 4
always-rewrite = no
