postmaster@${DOMAIN}              ${MTA_ADMIN_EMAIL}
abuse@${DOMAIN}                   ${MTA_ADMIN_EMAIL}
tls-rpt@${DOMAIN}                 ${MTA_ADMIN_EMAIL}
${BOUNCE_LOCAL_PART}@${DOMAIN}    ${MTA_ADMIN_EMAIL}
